@model IEnumerable<ProdajaSladoleda.Application.DataTransfer.CategoryDtos.CategoryDto>

@{
    ViewData["Title"] = "Kategorije proizvoda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Kategorije proizvoda:</h2>

<p>
    <a asp-action="Create">Unesi novu kategoriju</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId })
            </td>
        </tr>
}
    </tbody>
</table>
